/* Estilo para o banner */
.banner {
    background-color: black; /* Cor de fundo do banner */
    color: #fff; /* Cor do texto no banner */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.banner h1 {
    font-size: 2rem; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaçamento inferior do título */
}

.banner p {
    font-size: 1.2rem; /* Tamanho da fonte do parágrafo */
}

/* Estilo para a tabela de produtos */
.table {
    margin-top: 20px; /* Espaçamento superior da tabela */
}

.table th {
    background-color:#06cf; /* Cor de fundo dos cabeçalhos */
    color: #fff; /* Cor do texto dos cabeçalhos */
}

.table td {
    vertical-align: middle; /* Alinhamento vertical do conteúdo das células */
}

.table .btn {
    margin-right: 5px; /* Espaçamento direito entre os botões */
}
.nav-item{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    padding: 10px; 
    transition: color 0.3s;
}
li a:hover {
    color: #555;
}
li {
    display: inline-block;
    margin-right: 20px;
}
.nav-link{
    font-size: 15px;
}
body{
    background-color: aquamarine;
}
/* Estilos para a navegação */
.navbar {
    background-color: #f8f9fa; /* Cor de fundo da barra de navegação */
    border-bottom: 1px solid #dee2e6; /* Borda inferior */
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav {
    margin-left: auto; /* Alinhar os itens à direita */
}

.nav-item {
    margin-right: 10px; /* Espaçamento entre os itens */
}

.nav-link {
    color: #495057; /* Cor do texto */
    font-weight: bold; /* Negrito */
    transition: color 0.3s; /* Transição de cor */
}

.nav-link:hover {
    color: #007bff; /* Cor do texto ao passar o mouse */
}

.navbar-toggler-icon {
    background-color: #007bff; /* Cor do ícone do botão de alternância */
}

/* Estilos para o ícone do botão de alternância quando expandido */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: #fff; /* Cor do ícone quando expandido */
}
